@import url('http://fonts.googleapis.com/css?family=Monserrat:400,800');

*{

    box-sizing: border-box;
}



body{

    display:flex;
    justify-content: center;
    align-items : center;
    flex-direction: column;
    background-color: #ccc;
    /*  background-size: 400% 400%;*/
    font-family: 'monserrat', sans-serif;
    font-size: 13px;
    min-height: 100%;
    margin: 10%;


    /*  animation: gradient 10s ease infinite;*/
}

#container{

    background : #fff;


    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    width:768px;
    max-width: 100%;
    min-height:8em;
    text-align : center;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    margin-bottom : 10%;

}


.flex-item-1{
    width: 90%;
}


input{
    background: #eee;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 12px 15px;
    width: 100%;
    cursor: pointer;
}

input:active{

    filter: brightness(85%);
}



/**************************************/


#container-2{
    position: fixed;
    background : #fff;
    display: none;
    align-items:center;
    justify-content: flex-start;
    flex-direction: column;

    width:768px;
    max-width: 100%;
    min-height:580px;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);

    top: 5%;
    margin-right:10%;
    margin-left:10%;

    animation: slide-in-down 1.2s ease-out forwards;

}



h1{
    margin-top: 4%;
    margin-bottom : 2%;
    color: #170a45;

}



/************section-1*********/

.section-1{
    width:90%;

    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;




    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom:solid;

    border: 1.5px solid gold;



    resize: both;
    margin: 3%;


    border-top-right-radius: 15px;
    border-top-left-radius: 15px;


    box-shadow: 0 1px 7px 0 rgba(233, 191, 34, 0.75);
}


.flex-item{

    padding: 12px 15px;
    width:100%;
    border-radius: 15px;
    border-top: 1.5px solid gold;
    box-shadow:0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);

}

/********************/


.section-2{

    width:90%;

    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;




    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;


    border: 1.5px solid gold;


    min-height: 20%;
    max-height: 40%;

    resize: both;
    margin: 3%;


    border-top-right-radius: 15px;
    border-top-left-radius: 15px;


    box-shadow: 0 1px 7px 0 rgba(233, 191, 34, 0.75);



}

/*
.section-title{

  font-size: 1.1em;
  font-weight: 700;
  margin: 1%;
  font-family: 'monserrat', sans-serif;
  color:#4169e1;
  letter-spacing: .1rem;
  word-spacing: 10px;
}


*/

.flex-item-2 {


    width: 100%;
    text-align : left;


    background: #eee;

    border-radius: 15px;
    border-top: 1.5px solid gold;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);

    outline: none;
    padding: 5%;
    height: 100%;
    overflow: auto;


    color : grey;
    caret-color: grey;
}


/**************section3******************/



.section-3{

    width: 90%;


    display: inline-flex;
    align-items:center;
    justify-content: center;



    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom:solid;

    border: 1.5px solid gold;


    margin: 3%;


    border-top-right-radius: 15px;
    border-top-left-radius: 15px;


    box-shadow: 0 1px 7px 0 rgba(233, 191, 34, 0.75), 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
}


.special-input{

    height: 100%;
    border-left : 1.5px solid gold;
    padding: 5%;


}

.section-3 .section-title{

    margin: 2%;
}

/*****************section-4***********************/


.section-4{
    width: 100%;

    display: inline-flex;
    align-items:center;
    justify-content: space-between;
}


.publish{

    margin: 5%;


}

#go-back {

    background : #f10c45;
    box-shadow: 0 1px 7px red;

}


/******************************/


.section-title{

    letter-spacing: .1rem;
    word-spacing: 20px;
    font-weight: 700;
    font-size: 1.1em;
}




/************    POST   ************************/


#post{

    background : #fff;

    display: flex;
    align-items:center;
    justify-content: flex-start;
    flex-direction: column;

    width:768px;
    max-width: 100%;
    min-height:580px;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);

    top: 10%;

   margin-bottom : 10%;

    animation: slide-in-down 1.2s ease-out forwards;

}


/******************************/

.owner{

    width:100%;
    display: inline-flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 1.5px solid gold;
    border-bottom-right-radius: 3pc;
    border-bottom-left-radius: 3pc;
    margin-bottom: 1%;
}

.owner h1{
    margin: 5%;
}

.owner div{
    margin: 3%;

}

/**********************/

.project{

    width: 90%;


    display: inline-flex;
    align-items:center;
    justify-content: flex-start;





    border: 1.5px solid gold;


    border-top-right-radius: 15px;
    border-top-left-radius: 50px;


    box-shadow: 0 1px 7px 0 rgba(233, 191, 34, 0.75);

    margin-top: 2%;
}



.project .section-title{

    margin: 2%;
}

.project-name{

    width: 60%;
    height: 100%;
    border-left : 1.5px solid gold;

    border-top-left-radius : 15pc;




    padding: 5%;

    letter-spacing: .1rem;
    word-spacing: 10px;
    font-weight: 600;
    font-size: 1.1em;
    font-family: 'monserrat', sans-serif;
    color:#4169e1;


}

/**********************************************/

.project-description{
    width: 90%;


    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-direction: column;



    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 15px;
    border-bottom:solid;


    border: 1.5px solid gold;



    box-shadow: 0 1px 7px 0 rgba(233, 191, 34, 0.75), 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);


}

.project-description .section-title{

    margin: 0;
    padding: 2%;
    padding-bottom:4%;


    border-right: 1.5px solid gold;
    border-bottom-right-radius: 10pc;
}


.description{

    height: 100px;  /*da modificare*/
    margin: 3%;
    color: #454545;
    font-size: 1.2em;
    letter-spacing: 0.1rem;
    word-spacing: 1px;

}


/*****************************************/

.bottom{
    margin: 5%;
    width: 90%;
    display: inline-flex;
    align-items:center;
    justify-content: space-between;
}

.bottom-left{

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}



.places-left, .deadline{
    width: 30em;
    height: 4em;
    display: inline-flex;
    align-items:center;
    justify-content: flex-start;


}

.places-left div{

    margin: 3%;
    color: #4169e1;
    font-size: 1.1em;
    letter-spacing: .03rem;
    font-family: 'monserrat', sans-serif;

}

.places-left span{

    color: #4169e1;
    margin: 2%;
    padding: 3% 5%;
    border-radius: 50px;
    border: 2px solid #00ff00;
}

.deadline div{

    margin: 3%;
    color: #4169e1;
    font-size: 1.1em;
    letter-spacing: .03rem;
    font-family: 'monserrat', sans-serif;
}

.time{
    color: #4169e1;
    font-size: 1.1em;
    margin: 2%;
    padding:  3%;
    border-radius: 50px;

    border: 2px solid #00ff00;

}

/*****************************************/

button{

    color: #fff;
    background: linear-gradient(to right,orange,gold, yellow, orange);
    font-size: 12px;
    font-weight: bold;
    padding: 12px 55px;
    margin: 20px;
    border-radius: 20px;
    border: 2px solid white;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;

    background-size: 300% 200%;


    transition: all .4s ease-in-out;
    box-shadow: 0 1px 7px 0 rgba(233, 191, 34, 0.75);

    animation: slide-in-anim 1.2s ease-out forwards;
}

button:active{
    transform: scale(0.90);
}

button:hover{
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.25);
}











/*****************************************/

button{

    color: #fff;
    background: linear-gradient(to right,orange,gold, yellow, orange);
    font-size: 12px;
    font-weight: bold;
    padding: 12px 55px;
    margin: 20px;
    border-radius: 20px;
    border: 2px solid white;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;

    background-size: 300% 200%;


    transition: all .4s ease-in-out;
    box-shadow: 0 1px 7px 0 rgba(233, 191, 34, 0.75);

    animation: slide-in-anim 1.2s ease-out forwards;
}

button:active{
    transform: scale(0.90);
}

button:hover{
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.25);
}


@keyframes slide-in-anim {
    0%{
        opacity: 0;
        transform: translateX(150%);
    }
    70%{
        transform: translateX(-2%);
    }
    80%{
        transform: translateX(3%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}



@keyframes slide{
    0%{
        opacity: 0.7;
        transform: translateX(30%);
    }

    50%{
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 0.7;
        transform: translateX(30%);
    }

}


@keyframes slide-out-anim {
    0%{
        transform: translateX(0%);
    }
    50%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 0;
        transform: translateX(-150%);
    }
}


@keyframes slide-in-down {

    0%{
        opacity: 0;
        transform: translateY(-150%);
    }
    70%{
        opacity: 0.5;
        transform: translateY(3%);
    }
    80%{
        opacity: 0.7;
        transform: translateY(-2%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}




a{
    text-decoration: none;
    color: #fff;
}


