*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  outline: none;
  /* color: #135480 ;*/
  color : #000;
}


#abc{
  width:100%;
  height:10h;
  font-size : 70%;

}

nav{
  width: 100%;
  height: 50px;

  line-height: 50px;
}
nav ul{
  float: right;
  margin-right: 30px;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
}

a {
  /*  text-transform: uppercase;*/
  text-decoration: none;
  letter-spacing: 0.16em;
  pointer: cursor;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

#abc a{
  color:#fff;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  bottom: 0;
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: gold;
  border-radius:40px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;

}

#bg-img {
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url("/indexPic.jpg");

  min-height: 300px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/*****************Login**********************/

#myForm{
  width: 100%;
  top:0;
  position: absolute;
  display : none;

}

.wrapper{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  background: #fff;
  padding: 20px 50px;
  border-radius: 10px;
  box-shadow: 0 1px 30px 0 rgba(233, 191, 34, 0.75);
}
.form .title{
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
}
.form .input_wrap{
  margin-bottom: 500px;
  width: 325px;
  position: relative;
}

.form .input_wrap:last-child{
  margin-bottom: 0;
}

.form .input_wrap label{
  display: block;
  margin-bottom: 15px;
}

.form .input_wrap input{
  padding: 17px;
  width: 100%;
  border: 1px solid transparent;
  font-size: 16px;
  border-radius: 25px;
}

.form .input_wrap .input{
  background: #f5f4f4;
  padding-right: 35px;

}


.form .input_wrap .input:focus{
  border-color: gold;
  box-shadow: 0 1px 7px 0 rgba(233, 191, 34, 0.75);
  margin-bottom: 5px;

}


.form .input_wrap .input_field{
  position: relative;

}

button{
  background-image: linear-gradient(to right,gold,gold, yellow, gold );
  border-radius: 50px;
  border: none;
  /* color: #135480;*/
  display: block;
  height: 50px;
  cursor: pointer;
  font-size: 1.8em;
  margin-top: 15px;
  margin-left: 60px;
  padding: 6px;
  position: relative;
  width: 7em;
  z-index: 2;
  background-size: 300% 200%;

  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  box-shadow: 0 1px 7px 0 rgba(233, 191, 34, 0.75);
}

.button .buttonspan{
  color: white;
}


.button:hover {

  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  box-shadow: 0 4px 15px 0 rgba(233, 191, 34, 0.75);
}

p{
  padding: 5px;
  text-align: center;
}


.container{
  display: flex;
  justify-content: center;
}

.cancel{
  text-align : right;

  padding: 0;

}

.container .btn-circle.btn-sm {
  width: 40px;
  height: 40px;
  border-radius: 27px;
  font-size: 10px;
  text-align: center;
  margin: 7px;
}
