button{

    color: #fff;
    background: linear-gradient(to right,orange,gold, yellow, orange);
    font-size: 12px;
    font-weight: bold;
    padding: 12px 55px;
    margin: 20px;
    border-radius: 20px;
    border: 2px solid white;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;

    background-size: 300% 200%;


    transition: all .4s ease-in-out;
    box-shadow: 0 1px 7px 0 rgba(233, 191, 34, 0.75);

    animation: slide-in-anim 1.2s ease-out forwards;
}

button:active{
    transform: scale(0.90);
}

button:hover{
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.25);
}


/*********************************************/
