@import url('https://fonts.cdnfonts.com/css/cera-round-pro');

*{

    box-sizing: border-box;
}



body{

    display:flex;
    justify-content: center;
    align-items : center;
    flex-direction: column;
    background-color: #ccc;
    /*  background-size: 400% 400%;*/
    font-family: 'Cera Round Pro', sans-serif;
    font-size: 13px;
    min-height: 100%;

    margin:0;

   overflow-x: hidden;

    position: relative;


    /*  animation: gradient 10s ease infinite;*/
}





#profile-images{
    margin-top: 5%;

    width: 80%;
    height:45em;


   position: relative;

    border-radius: 15px;

    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;


    background: #fff;


    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
}

.background{
    width:100%;
    height: 60%;

    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    object-fit: cover;
    background-size: cover;
    border-bottom: solid #fff;



}

.main-image{

    width:10em;
    height:10em;
    position: absolute;
    top:43%;
    left:4%;

    object-fit: cover;
    background-size: cover;

    border-radius: 50%;
    border: solid #fff;

}


.personal-information{

    width:100%;
    height:60%;
    margin-top:1%;


    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;


}

.name{
    margin-left: 2%;
    font-size: 3em;

    color: #4169e1;

    text-shadow : 1px 1px 2px;


}

.contacts-inf{


    width: 100%;
    height:50%;

    display: inline-flex;
    justify-content: flex-start;
    align-items: center;




}



.cell-num, .email,.address{

    width: 20%;
    margin-left: 2%;
    border: solid #ABCDEF;
    font-size: 1.4em;
    text-align: center;
    padding: 1%;
    border-radius: 15px;
    background:  #007FFF;
    color: #fff;
    font-weight: bold;
    text-shadow : 1px 2px 23px #fff;
    box-shadow: 1px 2px 10px   #007FFF;

}


.email{
    width: 30%;


}


.address{

    width: 40%;
}

/********************************/

#presentation{

    min-height:20em;

    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;


    margin-top: 5%;

    width: 80%;



    border-radius: 15px;



    background: #fff;


    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);

}


.inf{

    margin-left:2%;
    font-size:2.6em;
    color: #4169e1;
}

.content{

    width: 100%;

    height:80%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom:5%;

    font-size: 1.7em;
    line-height:2em;
    text-align: justify;

    color: #000;

}

/************************/


.inf-header{

    width:100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}


.inf-header #edit-inf{

    position: relative;
    margin-left: 75%;
    color: #4169e1;
    text-shadow : 1px 2px 23px #4169e1;
    font-size: 3em;

}


/************************/
/*****************/
#profile-images  .fa{

    font-size:3em;
    position: absolute;
    color: #fff;
    top:3%;
    right:3%;
    cursor: pointer;
    text-shadow : 1px 2px 23px #fff;
}


/*******************/

#profile-post,#profile-project{

    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    margin-top: 2%;

}

.title{
    font-size: 3em;
    text-transform: uppercase;
    text-shadow : 1px 3px 2px #ffff;

}





#projects {

    width: 100%;
    margin-top: 3%;
    margin-left: 10%;

    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;


}

.project-swiper{

    flex :  auto 0 0;
}

/***********    POST   ************************/

#posts{

    width:90%;
    margin-top:3%;
    display: inline-flex;
    justify-content:  flex-start;
    align-items: center;

    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;


    margin-left:10%;
}


#post{

    flex: auto 0 0;


    background : #fff;

    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;

    width:768px;
    max-width: 100%;
    min-height:580px;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);

    margin-right: 3%;

     margin-bottom : 10%;



    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.47);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.89);
}



/**********************/


/*****************************************/

.bottom{

    margin: 5%;
    width: 90%;
    display: inline-flex;
    align-items:center;
    justify-content: space-between;
}

.bottom-left{

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}



.places-left, .deadline{

    width: 30em;
    height: 4em;
    display: inline-flex;
    align-items:center;
    justify-content: flex-start;



}

.places-left div{

    margin: 2%;
    color: #4169e1;
    font-size: 1.1em;
    letter-spacing: .03rem;
    font-family: 'monserrat', sans-serif;

}

.places-left span{

    color: #4169e1;
    margin: 2%;
    padding: 3% 5%;
    border-radius: 50px;
    border: 2px solid #00ff00;
}

.deadline div{

    margin: 1%;
    color: #4169e1;
    font-size: 1.1em;
    letter-spacing: .03rem;
    font-family: 'monserrat', sans-serif;
}

.time{
    color: #4169e1;
    font-size: 1.1em;
    margin: 2%;
    padding:  3%;
    border-radius: 50px;

    border: 2px solid #00ff00;

}

/*****************************************/


/**************/
img{
    object-fit: cover;
    background-size: cover;

    box-shadow: 1px 2px 20px #ABCDEF;
}

#upload-images, #update-inf,#update-curri{
    margin-top:7%;
    top:0;
    position: absolute;
    width:50%;
    height: 60em;

    border-radius: 15px;
    background: #fff;

    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);

}

.image{

    margin-top:5%;
    width: 80%;
    height:40%;


}
.image img{
    width:100%;
    height: 80%;
    border: solid  #ABCDEF;
    border-radius: 15px;

}

.fa{
    color: #007FFF;
    font-size: 1.5em;
    cursor: pointer;
}

.fa:active{
    transform: scale(0.95);
}

#plus-1{
    top:20%;
    position: absolute;
    right: 5%;


}

.image-p{

    width: 7em;
    height:  7em;


}


.image-p img{
    width:100%;
    height: 100%;
    border: solid  #ABCDEF;
    border-radius: 50%;;


}
#plus-2{
    position: absolute;
}


.close{

    position: absolute;
    top:3%;
    right:4%;
    font-size: 2em;
    font-weight: bold;
    color: tomato;
    cursor: pointer;
}

.close:active{
    transform: scale(0.95);

}

#upload-images input{

    margin-top: 5%;

    width: 70%;

    border-radius: 15px;
    outline: none;
    padding:2%;
    font-size: 1.3em;

    border: solid  #ABCDEF;
    box-shadow: 1px 2px 20px #ABCDEF;
    font-weight: bold;

}



.submit{
    margin-top:6%;
    margin-left: 70%;
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    box-shadow: 1px 3px 15px #1FA2FF ;

}


/************************/

#update-inf{

    justify-content: flex-start;
    top: 50%;
}

#update-inf h1{
    margin-top: 15%;
    margin-bottom: 10%;
    font-size:2.5em;
    text-transform: uppercase;
    word-spacing: 0.2em;
    text-shadow: 1px 2px 4px grey;



}

#update-inf textarea{

    width:90%;
    height:40%;
    font-size: 1.4em;
    font-weight: bold;
    padding:2%;
    outline: none;
    border-radius: 15px;
    background: rgba(155,55,55,0.05);

}

#update-inf button{
    margin-top: 15%;
}

/*****************/
#curriculum-section{
    margin-top: 5%;

    width:80%;
    height:10em;

    border-radius: 15px;
    background: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);

    display: inline-flex;
    justify-content: flex-start;
    align-items: center;


}

#curriculum-section h1{

    font-size: 2.2em;
    margin-left:3%;
    color: #4169e1;



}

#curriculum-section a{
    margin-left: 20%;
    font-size: 2em;
    text-decoration: underline;
    color: blue;
    cursor : pointer;
}

#curriculum-section #edit-curri{
    margin-left: 25.5%;
    text-shadow : 1px 2px 23px #4169e1;
    font-size: 3em;

}



/****************/


#update-curri{
    height:20em;
    top: 30%;

    justify-content: flex-start;
    align-items: center;
}

.custom-file-upload {
    margin-top: 15%;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 15px;

}

#update-curri .submit{
    padding:2%;
}