<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Uni-Collab</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" th:href="@{/registrationSuccessful.css}" />
</head>
<body>
<form th:action="@{'/setCourse' +'/' + ${user.id}}" method="post">
  <div class="container">
    <div class="cont-1">
      <h1>Final Step</h1>
      <div class="selections">
        <div class="selection">
          <select onclick="rotateUp('2')"  required name="selected-courseId">
            <option value="">Select your course of study</option>
            <option  th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}">Audi</option>
          </select>
          <i class="fa fa-caret-down" id ="triangle-2" ></i>
        </div>
      </div>
    </div>
    <div class="cont-2">
      <h1 style="color:#fff">
        <span class="go-next">Let's Finish</span>
        <span class="arrow-next">>>></span>
      </h1>
      <button id="next" onclick="fade_out()">Finish</button></div>
     
  </div>
</form>
</body>
<script>
  let down = true;


  function rotateUp(id){

    var arrow = document.getElementById('triangle-' + id);


    if(down){
      arrow.style.transform = "rotateX(180deg)";
      down = false;

    }else{

      arrow.style.transform = "rotateX(360deg)";
      down = true;

    }


  }

</script>
<script>
  function fade_out(){

    var main = document.getElementById('main');


    main.style.animation ="slide-out-anim 1.5s ease-out forwards";
  }
</script>
</html>