<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Uni-Collab</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" th:href="@{/createPost.css}" />
</head>
<body>
<div id="container">
  <div class="flex-item-1">
    <input placeholder="Create a post"/>
  </div>
</div>
<div id="container-2">
  <h1 >YOUR NAME</h1>
  <div class="section-1">
    <div class="section-title">PROJECT NAME</div>
    <input class="flex-item" placeholder="Enter your project name"/>
  </div>
  <div class="section-2">
    <div class="section-title">PROJECT DESCRIPTION</div>
    <div class="flex-item-2" role="textbox" contenteditable>Enter the project description</div>
  </div>
  <div class="section-3">
    <div  class="section-title">MEMBERSHIP</div>
    <input type="number" id="quantity" name="quantity" min="1" max="7" placeholder="Enter the number of memebers"/>
  </div>
  <div class="section-4"><button class="publish">publish</button></div>
</div>
</body>
<script>
  function fade_out(){

    var container = document.getElementById('container');
    var welcome = document.getElementById('welcome');
    var finish = document.getElementById('finish');
    var go_next = document.getElementById('go-next');
    var arrow_next = document.getElementById('arrow-next');
    var button = document.getElementById('button');


    container.style.animation ="slide-out-anim 1.5s ease-out forwards";
    welcome.style.animation ="slide-out-anim 1.5s ease-out forwards";
    finish.style.animation ="slide-out-anim 1.5s ease-out forwards";
    go_next.style.animation ="slide-out-anim 1.5s ease-out forwards";
    arrow_next.style.animation ="slide-out-anim 1.5s ease-out forwards";
    button.style.animation ="slide-out-anim 1.5 ease-out forwards";

  }
</script>
</html>