<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

      xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Uni-Collab</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" th:href="@{/css/createPost.css}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>

  <script th:src="@{script/script.js}"></script>
</head>
<body>
<div id="container-nav" >
  <div class="navbar">
    <a href="/messages" >
      <i id="message" class="fa fa-bell"></i>
    </a>

    <a href="/user" id="home-icon">
      <i id="home" class="fa fa-home"></i>
    </a>

    <a class="profile-section" onclick="openSideNav()">
      <i id="profile" class="fa">&#xf2be;</i>
    </a>

  </div>
  <div class="padding"></div>
  <div class="search-section">
    <div id="filter" onclick="openFilter()"><span>FILTER</span></div>
    <div class="search">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input/>
    </div>
    <div></div>
  </div>
</div>
<div id="container">
  <div class="flex-item-1" >
    <input placeholder="Create a post"/>
  </div>
</div>
<div th:each="post : ${posts}">
  <div id="post" >
    <div class="owner">
      <h1 th:text="${post.owner.userName}">OWNER</h1>
      <div style="color:#4169e1"  th:text="${#temporals.format( post.creationTimestamp, 'dd/MM/yyyy HH:mm')}"> 3 hours ago</div>
    </div>
    <div class="project">
      <h1 class="section-title">PROJECT</h1>
      <div class="project-name" th:text="${post.projectName}"> PROJECT NAME</div>
    </div>
    <div class="exam">
      <div th:text="${post.exam.name}">EXAM NAME</div>
      <h1 class="section-title">EXAM</h1>
    </div>
    <div class="project-description">
      <h1 class="section-title">DESCRIPTION</h1>
      <div class="description" th:text="${post.projectDescription}">
        Il progetto di mobile computing consiste nella creazione di un gioco mobile con autenticazione. Mi servono 3 colleghi di progetto.
      </div>
    </div>
    <div class="bottom">
      <div class="bottom-left">

        <div class="places-left">
          <i class="fa fa-circle" style="color: lawngreen" ></i>
          <div> PLACES AVAILABLE </div>
          <span  th:text="${post.membership - post.acceptedUsers.size()}">3</span>
        </div>

        <div class="deadline">
          <div>APPLICATION DEADLINE </div>
          <span class="time" th:text="${#temporals.format( post.deadline, 'dd/MM/yyyy HH:mm')}">30/12/2023 19:12</span>
        </div>

      </div>
      <div>
        <form th:action="@{'/sendRequest' + '/' + ${user.id} + '/' + ${post.owner.id} + '/' +
          ${post.id}}" method="post">
          <input  hidden  name="text"  th:value="'has applied to your post'"/>
          <input hidden   name="messageType" th:value="REQUEST" />
          <button class="publish">apply</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!----- side nav------->
<div  id="side_nav" class="side-nav">
  <div onclick="closeSideNav()">&times;</div>
  <a href="/profile">Profile</a>
  <a href="/posts">Posts</a>
  <a href="/projects">Projects </a>
  <a href="/logout"> Log out</a>
</div>

<!------ side filter---->
<form id="side-filter" th:action="@{/user}" method="get">
  <h1>FILTER BY</h1>
  <select name="filter">
    <option  th:each="exam : ${user.courseAttended.courseExams}"
            th:value="${exam.id}"
            th:text="${exam.name}">
      Select the exam your project is for
    </option>
  </select>
  <h1>SORT BY</h1>
  <div id="check-box">
    <input type="checkbox"  th:if="${orderBy}"name="orderBy" checked/>
    <input type="checkbox"  th:unless="${orderBy}"name="orderBy" value="true"/>
    <label>Recent</label>
  </div>
  <button class="filter-button">apply</button>
  <div onclick="closeSideFilter()" class="close-filter">&times;</div>
</form>
<!-----pop up-------------------------pop up-------------------------pop up------------------------->

<form id="container-2"
      th:action="@{/createPost}"  method="post" >
  <h1 th:text="${user.userName}">YOUR NAME</h1>
  <div class="section-1">
    <div class="section-title">PROJECT NAME</div>
    <input class="flex-item" placeholder="Enter your project name" type="text" required name="projectName"/>
  </div>

  <div class="section-2">
    <div class="section-title">PROJECT DESCRIPTION</div>
    <textarea class="flex-item-2" role="textbox" contenteditable type="text"  required name="projectDescription">Enter the project description for your project</textarea>
  </div>

  <div class="section-2">
    <div class="section-title">EXAM</div>
    <select required name="selected_exam" >
      <option value="" >Choose the exam your project is for</option>
      <option th:each="exam: ${user.courseAttended.courseExams}"  th:value="${exam.id}" th:text="${exam.name}">Select the exam your project is for</option>
    </select>
  </div>

  <div class="section-3">
    <div  class="section-title">MEMBERSHIP</div>
    <input type="number" class="special-input" min="1" max="7" required placeholder="Enter the number of memebers"
           name="membership"/>
  </div>

  <div class="section-3">
    <div  class="section-title">DEADLINE</div>
    <input  class="special-input" type="datetime-local" required  name="deadline"/>
  </div>

  <div class="section-4">
    <button class="publish"  type="button" id="go-back" >go back</button>
    <button class="publish" type ="submit">publish</button>
  </div>
</form>
<!------------->
<!---<div id="messages"> </div>--  NOTIFICHE CON WEBSOCKET-->
<script>



  var container_1 =  document.getElementById('container');
  var post_form = document.getElementById('container-2');
  var go_back = document.getElementById('go-back');

  var post = document.getElementById('post');

  container_1.addEventListener('click',()=>{

    post_form.style.display= "flex";
    post_form.style.animation ="slide-in-down 1.1s ease-out forwards";


  });



  go_back.addEventListener('click',()=>{

    post_form.style.animation ="slide-out-anim 1s ease-out forwards";

    post.style.animation = "none";


    setTimeout( function(){
      post_form.style.display = "none";},1000);


  });

  function openSideNav(){

    var side_nav = document.getElementById('side_nav');

    side_nav.style.width="14%";

  }

  function closeSideNav(){

    var side_nav = document.getElementById('side_nav');

    side_nav.style.width="0";
  }

  function openFilter(){

    var side_filter = document.getElementById('side-filter');

    side_filter.style.width="15%";
    side_filter.style.height="30%";

  }

  function closeSideFilter(){

    var side_filter = document.getElementById('side-filter');

    side_filter.style.width="0";
    side_filter.style.height="0";
  }



  var home_icon = document.getElementById('home-icon');
  home_icon.style.color ="#fff";
  home_icon.style.backgroundColor ="#4169e1";
  home_icon.style.boxShadow="0 5px 20px #4169e1aa, 0 5px 5px #4169e166";


</script>

<script>
  var stompClient = null;
  var privateStompClient = null;

  var socket = new SockJS('/ws');
  stompClient = Stomp.over(socket);
  stompClient.connect({}, function(frame) {
    console.log(frame);
    stompClient.subscribe('/all/messages', function(result) {
      console.log(result.body);
      show(JSON.parse(result.body));
    });
  });

  socket = new SockJS('/ws');
  privateStompClient = Stomp.over(socket);
  privateStompClient.connect({}, function (frame) {
    console.log(frame);
    privateStompClient.subscribe('/user/specific', function (result) {
      console.log(result.body);
      show(JSON.parse(result.body));
    });
  });


  function sendMessage(){
    var text = document.getElementById('text').value;

    stompClient.send('/app/application', {}, JSON.stringify({ text: text }));
  }

  function sendPrivateMessage(){
    var text = document.getElementById('privateText').value;
    var destination = document.getElementById('destination').value;
    stompClient.send("/app/private",{}, JSON.stringify({ text: text, destination: destination}));
  }

  function show(message){
    var response = document.getElementById('messages');
    var p = document.createElement('p');

    p.innerHTML ="message:" + message.text;
    response.appendChild(p);
  }
</script>

</body>

</html>