<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>uni Collab</title>
    <link rel="stylesheet" th:href="@{/css/errorPostCreation.css}" />
    <link rel="stylesheet" th:href="@{/css/animation.css}" />

</head>
<body>
<div id="errors">

    <div class="error" th:if="${#fields.hasErrors('post.projectName')}"
         th:errors="${post.deadline}" >Campo Obbligatorio</div>



    <div class="error" th:if="${#fields.hasErrors('post.projectDescription')}"
         th:errors="${post.deadline}" ></div>

    <div class="error" th:if="${#fields.hasErrors('post.exam')}"
         th:errors="${post.exam}" ></div>

    <div class="error" th:if="${#fields.hasErrors('post.membership')}"
         th:errors="${post.membership}" ></div>

    <div class="error" th:if="${#fields.hasErrors('post.deadline')}"
         th:errors="${post.deadline}" ></div>


</div>
</body>
</html>