<html>
<head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>Uni-Collab</title>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="/index.css" />
</head>
<body>

<div id="bg-img">
    <div id="abc">
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a id="login-button" th:href="@{/login}" >LOG IN</a></li>
                <li><a href="/user/register">SIGN UP</a></li>

            </ul>
        </nav>
    </div>
</div>

<!---->
<!--<script>
    function openForm() {
        document.getElementById("auth").style.display = "flex";
        document.getElementById("bg-img").style.filter = "blur(8px)";
    }

    function closeForm() {
        document.getElementById("auth").style.display = "none";
        document.getElementById("bg-img").style.filter = "none";
    }
</script>
<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const main = document.getElementById('main');

    signUpButton.addEventListener('click',()=>{
        main.classList.add("right-panel-active");
    });
    signInButton.addEventListener('click',()=>{
        main.classList.remove("right-panel-active");
    });

</script>-->
</body>
</html>