<html>
<head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>Uni-Collab</title>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="/index.css" />
</head>
<body>

<div id="bg-img">
    <div id="abc">
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a id="login-button" th:href="@{/login}" >LOG IN</a></li>
                <li><a href="/user/register">SIGN UP</a></li>

            </ul>
        </nav>
    </div>
</div>
    <div id="bodytext">
      <h1> welcome to Uni-collab </h1>
      </div>

<!---->
<!--<script>
    function openForm() {
        document.getElementById("auth").style.display = "flex";
        document.getElementById("bg-img").style.filter = "blur(8px)";
    }

    function closeForm() {
        document.getElementById("auth").style.display = "none";
        document.getElementById("bg-img").style.filter = "none";
    }
</script>
<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const main = document.getElementById('main');

    signUpButton.addEventListener('click',()=>{
        main.classList.add("right-panel-active");
    });
    signInButton.addEventListener('click',()=>{
        main.classList.remove("right-panel-active");
    });

</script>-->
<div>
    <button id="sendMessage"  onclick="sendMessage()">send</button>
    <input type="text"  id='text' placeholder="text" />
    <div id="messages"> ciao</div>
</div>
  </body>
  
  <footer class="footer">
  <d class="footer__addr">
    <h1 class="footer__logo">Uni_collab</h1>
        
    
  
  <ul class="footer__nav">
    

    <ul class="nav__item">
        <h2 class="nav__title">Legal:</h2></ul>
      
      <ul class="nav__ul">
        <li>
          <a href="#">Privacy Policy</a>
        </li>
        
        <li>
          <a href="#">Terms of Use</a>
        </li>
        
        <li>
          <a href="#">Sitemap</a>
        </li>
      </ul>
  </ul>
  </d>
  <div class="legal">
    <p>Copyright &copy; 2023  All rights reserved.</p>
    <div class="legal__links">
    </span> Made by Bishoy Zakhary </span>
    </span> and Hawoen  Zehing</span>
   </div>
  </div>
</footer>
<script ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js">
    var stompClient = null;


    var socket = new SockJS('/ws');
    stompClient = Stomp.over(socket);
    stompClient.connect({}, function(frame) {
        console.log(frame);
        stompClient.subscribe('/all/messages', function(result) {
            show(JSON.parse(result.body));
        });
    });

    socket = new SockJS('/ws')
    privateStompClient = Stomp.over(socket);
    privateStompClient.connect({}, function (frame) {
        console.log(frame);
        privateStompClient.subscribe('/user/specific', function (result) {
            console.log(result.body);
            show(JSON.parse(result.body));
        });
    });


    function sendMessage(){
        var text = document.getElementById('text');
        stompClient.send('/app/application', {}, JSON.stringify({'text': text }));

    }

    function sendPrivateMessage(){
        var text = document.getElementById('privateText').value;
        var destination = document.getElementById('destination').value;
        stompClient.send("/app/private",{}, JSON.stringify({'text': text,'destination':destination}));
    }

    function show(message){
        var response = document.getElementById('messages');
        var p = document.createElement('p');

        p.innerHTML ="message" + message.text;
        response.appendChild(p);
    }
</script>
 
</html>