<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uni-Collab</title>
</head>
<body>


  <div id="container-nav" >
        <div class="navbar">
            <div>
                <i  id="message" class="fa fa-bell" aria-hidden="true"><a href="/messages"></a></i>
                <i class="fa-solid fa-circle"></i>
            </div>
            <div>
                <i id="home" class="fa fa-home"><a href="/user"></a></i>
                <i  class="fa-solid fa-circle"></i>
            </div>
            <div class="profile-section">
                <i id="profile" class="fa">&#xf2be;<a></a></i>
                <i  class="fa-solid fa-circle"></i>

                <span id="drop-down">
          <a class="content">profile</a>
          <a class="content">your posts</a>
          <a class="content"> Log out</a>
        </span>

            </div>
        </div>
        <div class="padding">
            <div></div>
            <div class="search">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input/>
            </div>
            <div></div>
        </div>
    </div>

    <div th:each="message: ${messages}">
        <div id="container">
        <span th:text="${message.source} + ' applied for your post'">Haowen ZHeng si è candidato ad un tuo post </span>
            <button> ACCECPT</button>
    </div>
</div>

</body>
</html>