<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>uni-Collab</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" th:href="@{/css/post.css}" />
    <link rel="stylesheet" th:href="@{/css/button.css}" />
    <link rel="stylesheet" th:href="@{/css/animation.css}" />
    <link rel="stylesheet" th:href="@{/css/event-warn.css}" />
</head>
<body>

<a href="/user" id="back-home">
    <i id="home" class="fa fa-home"></i>
</a>
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div th:each="post : ${posts}" class="swiper-slide" >


      <div th:replace="post.html :: singlePost"></div>

        </div>
    </div>
</div>
<!---pop up for deleting review---->
<div id="event-warn" th:if="${postDeleted}">
    The post  has been successfully deleted
</div>
<script src="/script/event-warn.js"></script>
<!-------->

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: false,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
            rotate: 0,
            stretch: 0,
            depth: 100,
            modifier: 3,
            slideShadows: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
</script>
</body>
</html>