<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uni Collab</title>
    <link rel="stylesheet" th:href="@{/css/postForm.css}" />
    <link rel="stylesheet" th:href="@{/css/button.css}" />
    <link rel="stylesheet" th:href="@{/css/animation.css}" />
</head>
<body>
<form  class="container-2" th:fragment="postForm"
       th:action="@{/createPost}"  method="post" >
    <h1 th:text="${user.userName}">YOUR NAME</h1>
    <div class="section-1" th:fragment="projectNameInput">
        <div class="section-title">PROJECT NAME</div>
        <input class="flex-item" placeholder="Enter your project name"   type="text" required name="projectName"/>
    </div>

    <div class="section-2" th:fragment="projectDescInput">
        <div class="section-title">PROJECT DESCRIPTION</div>
        <textarea class="flex-item-2" role="textbox" contenteditable type="text"  required name="projectDescription">Enter the project description for your project</textarea>
    </div>

    <div class="section-2" th:fragment="examInput">
        <div class="section-title" >EXAM</div>
        <select required name="selected_exam">
            <option value="">Choose the exam your project is for</option>
            <option th:each="exam: ${user.courseAttended.courseExams}"   >Select the exam your project is for</option>
        </select>
    </div>

    <div class="section-3"  th:fragment="memebershipInput">
        <div  class="section-title">MEMBERSHIP</div>
        <input type="number" class="special-input" min="1" max="7"  required placeholder="Enter the number of memebers"
               name="membership"/>
    </div>

    <div class="section-3" th:fragment="deadlineInput">
        <div  class="section-title" >DEADLINE</div>
        <input  class="special-input" type="datetime-local" required   name="deadline"/>
    </div>

    <div class="section-4" th:fragment="bottomPart">
        <a class="publish"  type="button" id="go-back"  >go back</a>
        <button class="publish" type ="submit">publish</button>
    </div>
</form>
<script>

var post_form = document.getElementsByClassName('container-2')[0];
var go_back = document.getElementById('go-back');

post_form.style.display ="flex";

post_form.style.animation ="slide-in-down 1s ease-in forwards";


go_back.addEventListener('click',()=>{

post_form.style.animation ="slide-out-anim 1s ease-out forwards";

post.style.animation = "none";


setTimeout( function(){
post_form.style.display = "none";},1000);


});
</script>
</body>
</html>