<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uni Collab</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" th:href="@{/css/project.css}" />
  <link rel="stylesheet" th:href="@{/css/button.css}" />
  <link rel="stylesheet" th:href="@{/css/animation.css}" />
  <link rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>
<a href="/user" id="back-home"><i id="home" class="fa fa-home"></i></a>
<div class="proj-box" th:fragment="singleProject">
  <h1 class="proj-name" th:text="${project.name}">Project Name</h1>
  <div class="proj-description">
    <h1>Description</h1>
    <div><span class="proj-text" th:text="${project.description}"> CIao sono Haowen</span></div>
  </div>
  <div class="proj-member">
    <h1>Members</h1>
    <a th:each="member: ${project.members}" th:text="${member.userName}"> Haowen Zheng</a>
  </div>
  <div class="proj-state" th:if="${#strings.toString(project.projectState) == 'ACTIVE'}">ACTIVE</div>
  <div class="proj-state" id="terminated" th:if="${#strings.toString(project.projectState) == 'TERMINATED'}">TERMINATED</div>

  <a class="deadline"  th:attr="onclick=|chooseDeadline('${project.id}')|"  th:if="${project.members.contains(user)}"
     th:text="${project.deadline} ? ${#temporals.format( project.deadline, 'dd/MM/yyyy HH:mm')} : 'choose deadline'">choose deadline</a>
</div>
<form  th:id="'prj-deadline-' + ${project.id}" class="prj-deadline" method="post" th:action="@{'setProjectDeadline'+ '/' + ${project.id}}" >

  <div class="close"  th:attr="onclick=|closeForm( '${project.id}')|" >&times;</div>
  <input type="datetime-local" id="ddInput" name="deadline" />
  <button class="submit" >submit</button>

</form>
</div>
</body>
</html>