<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Uni-Collab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" th:href="@{/css/project.css}" />
    <link rel="stylesheet" th:href="@{/css/animation.css}" />
</head>

<body>
<a href="/user" id="back-home"><i id="home" class="fa fa-home"></i></a>

<h1 class="empty" style="position: absolute; top:50%; font-size:3em;" th:if="${projects.isEmpty}">
    No Projects
</h1>
<!-- Swiper -->

<div  id="projects">
        <div class="proj-box"  th:each="project : ${projects}">

            <div th:replace=" project.html :: proj-projName">Project Name</div>

            <div th:replace=" project.html :: proj-projectDesc"></div>

            <div th:replace=" project.html :: proj-projMember"></div>

            <div class="proj-state" th:if="${#strings.toString(project.projectState) == 'ACTIVE'}" th:fragemnt="proj-projState">ACTIVE</div>
            <div class="proj-state" th:if="${#strings.toString(project.projectState) == 'TERMINATED'}" th:fragemnt="proj-projState">TERMINATED</div>
            <a class="deadline"  th:attr="onclick=|chooseDeadline('${project.id}')|"
               th:text="${project.deadline} ? ${#temporals.format( project.deadline, 'dd/MM/yyyy HH:mm')} : 'choose deadline'"
               th:if="${project.members.contains(user)}">choose deadline</a>

            <form  th:id="'prj-deadline-' + ${project.id}" class="prj-deadline" method="post" th:action="@{'setProjectDeadline'+ '/' + ${project.id}}" style="z-index: 5">

                <div class="close"  th:attr="onclick=|closeForm( '${project.id}')|" >&times;</div>
                <input type="datetime-local" id="ddInput" name="deadline" />
                <button class="submit" >submit</button>
            </form>
        </div>
    </div>


<script>
    const slider = document.querySelector('#projects');
    let isDown = false;
    let startX;
    let scrollLeft;

    slider.addEventListener('mousedown', (e) => {
        isDown = true;
        slider.classList.add('active');
        startX = e.pageX - slider.offsetLeft;
        scrollLeft = slider.scrollLeft;
    });
    slider.addEventListener('mouseleave', () => {
        isDown = false;
        slider.classList.remove('active');
    });
    slider.addEventListener('mouseup', () => {
        isDown = false;
        slider.classList.remove('active');
    });
    slider.addEventListener('mousemove', (e) => {
        if(!isDown) return;
        e.preventDefault();
        const x = e.pageX - slider.offsetLeft;
        const walk = (x - startX) * 3; //scroll-fast
        slider.scrollLeft = scrollLeft - walk;
        console.log(walk);
    });
</script>

</body>

<!---------------->


<script>


    function closeForm(id){


        var element = document.getElementById('prj-deadline-' + id);

        element.style.animation = "slide-out-anim 1s ease-out forwards";





        setTimeout( function(){
            element.style.display = "none";},1000);




    }


</script>
<script>





    function chooseDeadline(id){

        var form = document.getElementById('prj-deadline-'+ id);


        form.style.display = "flex";

        form.style.animation = "slide-in-down 1s ease-out forwards";



    }



</script>
<!---------------->

</html>
