<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uni-Collab</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/registrationSuccessful.css}" />
</head>
<body>
<form th:action="@{'/addCourse' +'/' + ${user.id} }" method="post">
    <div class="container">
        <div class="cont-1">
            <h1>Complete your Registration</h1>
            <div class="selections">
                <div class="selection">
                    <select onclick="rotateUp('1')"  required  name="selected-universityId" >
                        <option value="">Select your University</option>
                        <option th:each="university:${universities}" th:value="${university.id}" th:text="${university.name}">Select  your university</option>
                    </select>
                    <i class="fa fa-caret-down"  id="triangle-1"></i>
                </div>
            </div>
        </div>


            <div class="cont-2">
            <h1 style="color:#fff">
                <span class="go-next">Go Next </span>
                <span class="arrow-next">>>></span>
            </h1>
            <button id="next" type="submit" onclick="fade_out()" >Next</button>
        </div>
    </div>
</form>
</body>
<script>
    let down = true;


    function rotateUp(id){

        var arrow = document.getElementById('triangle-' + id);


        if(down){
            arrow.style.transform = "rotateX(180deg)";
            down = false;

        }else{

            arrow.style.transform = "rotateX(360deg)";
            down = true;

        }


    }

</script>
<script>
    function fade_out(){

        var container = document.getElementById('container');


        container.style.animation ="slide-out-anim 1.5s ease-out forwards";
    }
</script>
</html>