<!DOCTYPE html>
<html>
<head>
	 <title>Uni-Collab</title>
	<!--   <link rel=icon" type="image/x-icon" href="/logo.ico">-->
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" th:href="@{/register.css}" />

</head>
<body>
	
	<div id="abc">
    <nav>
		 <ul>
            <li><a href="/">Home</a></li>
            <li> <a href="/user/register">Register</a></li>
            <li> <a href="/login">Sign in</a></li>
       
        </ul>
    </nav>
</div>
<div class="wrapper">
  <div class="form">
    <div class="title">Sign Up</div>
    
    <form method="POST" th:action="@{/user/register}" >
      <div class="input_wrap">
       <tr>
      <td><label for="userNameInput"></label>
        <td><input id=userNameInput class="input" type="text" placeholder="Username" required th:field="${credentialsForm.userName}"/></td>
     <td th:if="${#fields.hasErrors('credentialsForm.userName')}"
     th:errors="${credentialsForm.userName}" th:style="'color:red'"></td>
   </tr>
  <tr>
    <td><label for="firstNameInput"></label>
    <td><input id=firstNameInput class="input" type="text" placeholder="First Name" required th:field="${userForm.firstName}"/>
 
    </td>
    
    <td th:if="${#fields.hasErrors('userForm.firstName')}"
        th:errors="${userForm.firstName}" th:style="'color:red'"></td>
  </tr>
<div>
  <tr>
    <td><label for="lastNameInput"></label>
    <td><input id=lastNameInput class="input" type="text" placeholder="Last Name" required th:field="${userForm.lastName}"/></td>
    <td th:if="${#fields.hasErrors('userForm.lastName')}"
        th:errors="${userForm.lastName}" th:style="'color:red'">
       </td>  
     </tr>
   <tr>
    <td><label for="passwordInput"></label>
    <td><input id=passwordInput class="input" type="password" placeholder="Password" required th:field="${credentialsForm.password}"/></td>
    <td th:if="${#fields.hasErrors('credentialsForm.password')}"
        th:errors="${credentialsForm.password}" th:style="'color:red'"></td>
   </tr>
</div>
 <tr>
    <td>
        <button class="button" type="submit "><span class="buttonspan">Sign up</span></button>
    </td>
  </tr>
  
<div><p><h4>Already have an account?  <a href="/login">Log in</a></h4></p> </div>

    <div class="container">
    
   <a href="/"> <button type="button" class="btn btn-primary btn-circle btn-sm"><i class="fa fa-facebook"></i></button></a>
   <a href="/oauth2/authorization/github"> <button type="button" class="btn btn-danger btn-circle btn-sm"><i class="fa fa-github"></i></button></a>
   <a href="/"> <button type="button" class="btn btn-info btn-circle btn-sm"><i class="fa fa-twitter"></i></button></a>
   <a href="/"> <button type="button" class="btn btn-primary btn-circle btn-sm"><i class="fa fa-google"></i></button></a>
   </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>